{% extends 'starter-page.html' %}
{% load static %}

{% block body %}

<main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section">

      <div class="background-elements">
        <div class="bg-circle circle-1"></div>
        <div class="bg-circle circle-2"></div>
      </div>

      <div class="hero-content">

        <div class="container">
          <div class="row align-items-center">

            <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
              <div class="hero-text">
                <div style="font-size: small;"><h1 style="font-size: xx-large;">Underscore<span class="accent-text">MNgCreatives</span></h1></div>
                <h style="font-size: x-large;">Everything photography</h2>
                <p class="lead">we <span class="typed" data-typed-items="capture timeless moments and help you create amazing memories"></span></p>
                <p class="description">Our core aim is to take crisp, crystal clear, vivid images and videos that create and leave nostalgic memories. Every tiny moment matters.</p>

                <div class="hero-actions">
                  <a href="{% url 'portfolio' %}" class="btn btn-primary">View our Work</a>
                  <a href="{% url 'contact' %}" class="btn btn-outline">Get In Touch</a>
              </div>

                <!-- <div class="social-links">
                  <a href="#"><i class="bi bi-dribbble"></i></a>
                  <a href="#"><i class="bi bi-behance"></i></a>
                  <a href="#"><i class="bi bi-github"></i></a>
                  <a href="#"><i class="bi bi-linkedin"></i></a>
                </div> -->
              </div>
            </div>

            <div class="col-lg-6" data-aos="fade-left" data-aos-delay="200">
              <div class="hero-visual">
                <div class="profile-container">
                  <div class="profile-background"></div>
                  <img src="{% static  'assets/img/img5.webp'%}" alt="MNgCreatives" class="profile-image" style="border-radius: 10%;">
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </section><!-- /Hero Section -->

   

    <!-- Stats Section -->
    <section id="stats" class="stats section light-background">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row justify-content-center">
          <div class="col-lg-10">
            <div class="stats-wrapper">
              <div class="stats-item" data-aos="zoom-in" data-aos-delay="150">
                <div class="icon-wrapper">
                  <i class="bi bi-emoji-smile text-warning"></i>
                </div>
                <span data-purecounter-start="0" data-purecounter-end="70" data-purecounter-duration="1" class="purecounter"></span>
                <p>Happy Clients</p>
              </div><!-- End Stats Item -->

              <div class="stats-item" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-wrapper">
                  <i class="bi bi-journal-richtext"></i>
                </div>
                <span data-purecounter-start="0" data-purecounter-end="152" data-purecounter-duration="1" class="purecounter"></span>
                <p>Projects</p>
              </div><!-- End Stats Item -->

              <div class="stats-item" data-aos="zoom-in" data-aos-delay="250">
                <div class="icon-wrapper">
                  <i class="bi bi-headset"></i>
                </div>
                <span data-purecounter-start="0" data-purecounter-end="819" data-purecounter-duration="1" class="purecounter"></span>
                <p>Hours Of Support</p>
              </div><!-- End Stats Item -->

              <div class="stats-item" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-wrapper">
                  <i class="bi bi-people"></i>
                </div>
                <span data-purecounter-start="0" data-purecounter-end="11" data-purecounter-duration="1" class="purecounter"></span>
                <p>Dedicated Team</p>
              </div><!-- End Stats Item -->
            </div>
          </div>
        </div>

      </div>

    </section><!-- /Stats Section -->

     <!-- Portfolio Section -->
    <section id="portfolio" class="portfolio section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Portfolio</h2>
        <p>At Underscore MNgCreatives, photography is more than just taking pictures — it is about creating stories, preserving emotions, and turning fleeting moments into timeless memories. With a passion for creativity and an eye for detail, we specialize in delivering high-quality visual experiences that speak louder than words..</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

          <div class="row">
            <div class="col-lg-3 filter-sidebar">
              <div class="filters-wrapper" data-aos="fade-right" data-aos-delay="150">
                <ul class="portfolio-filters isotope-filters">
                  <li data-filter="*" class="filter-active">All Projects</li>
                  <li data-filter=".filter-weddings">weddings</li>
                  <li data-filter=".filter-graduation_parties">Graduation Parties</li>
                  <li data-filter=".filter-corporate">Corporate Events</li>
                  <li data-filter=".filter-portrait_fashion">Portrait and fashion</li>
                  <li data-filter=".filter-real_estate">Real Estate</li>
                  <li data-filter=".filter-Birthday_Parties">Birthday Parties</li>
                </ul>
              </div>
            </div>

            <div class="col-lg-9">
              <div class="row gy-4 portfolio-container isotope-container" data-aos="fade-up" data-aos-delay="200">

                <div class="col-lg-6 col-md-6 portfolio-item isotope-item filter-graduation_parties">
                  <div class="portfolio-wrap">
                    <img src="{% static 'assets/img/img7.webp' %}" class="img-fluid" alt="Portfolio Image" loading="lazy">
                    <div class="portfolio-info">
                      <div class="content">
                        <span class="category">Graduation Parties</span>
                        <h4>Turn hard work into unforgettable memories and celebrate your new beginnings.</h4>
                        <div class="portfolio-links">
                          <a href="{% static 'assets/img/img8.webp' %}" class="glightbox" title="Capturing Moments"><i class="bi bi-plus-lg"></i></a>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!-- End Portfolio Item(Graduation Parties) -->

                
                <div class="col-lg-6 col-md-6 portfolio-item isotope-item filter-weddings">
                  <div class="portfolio-wrap">
                    <img src="{% static 'assets/img/img6Commercial.webp' %}" class="img-fluid" alt="Portfolio Image" loading="lazy">
                    <div class="portfolio-info">
                      <div class="content">
                        <span class="category">weddings</span>
                        <h4>The beauty of your love story through elegant and timeless imagery.</h4>
                        <div class="portfolio-links">
                          <a href="{% static 'assets/img/img8.webp' %}" class="glightbox" title="Capturing Moments"><i class="bi bi-plus-lg"></i></a>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!-- End Portfolio Item(weddings) -->


                <div class="col-lg-6 col-md-6 portfolio-item isotope-item filter-corporate">
                  <div class="portfolio-wrap">
                    <img src="{% static 'assets/img/img16.webp' %}" class="img-fluid" alt="Portfolio Image" loading="lazy">
                    <div class="portfolio-info">
                      <div class="content">
                        <span class="category">Corporate Events</span>
                        <h4>Classic Beauty</h4>
                        <div class="portfolio-links">
                          <a href="{% static 'assets/img/portfolio/portfolio-portrait-2.webp' %}" class="glightbox" title="Classic Beauty"><i class="bi bi-plus-lg"></i></a>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!-- End Portfolio Item(Corporate Events) -->

                <div class="col-lg-6 col-md-6 portfolio-item isotope-item filter-">portrait_fashion
                  <div class="portfolio-wrap">
                    <img src="{% static 'assets/img/portfolio/portfolio-portrait-4.webp' %}" class="img-fluid" alt="Portfolio Image" loading="lazy">
                    <div class="portfolio-info">
                      <div class="content">
                        <span class="category">Portrait and fashion</span>
                        <h4>Natural Growth</h4>
                        <div class="portfolio-links">
                          <a href="{% static 'assets/img/img12portrait.webp' %}" class="glightbox" title="Natural Growth"><i class="bi bi-plus-lg"></i></a>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!-- End Portfolio Item(Portrait and fashion) -->

                <div class="col-lg-6 col-md-6 portfolio-item isotope-item filter-real_estate">
                  <div class="portfolio-wrap">
                    <img src="{% static 'assets/img/portfolio/portfolio-5.webp' %}" class="img-fluid" alt="Portfolio Image" loading="lazy">
                    <div class="portfolio-info">
                      <div class="content">
                        <span class="category">Real Estate</span>
                        <h4>Urban Stories</h4>
                        <div class="portfolio-links">
                          <a href="{% static 'assets/img/img16.webp' %}" class="glightbox" title="Urban Stories"><i class="bi bi-plus-lg"></i></a>
                        
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!-- End Portfolio Item -->

                <div class="col-lg-6 col-md-6 portfolio-item isotope-item filter-Birthday_Parties">
                  <div class="portfolio-wrap">
                    <img src="{% static 'assets/img/img1Portrait.webp' %}" class="img-fluid" alt="Portfolio Image" loading="lazy">
                    <div class="portfolio-info">
                      <div class="content">
                        <span class="category">Birthday Parties</span>
                        <h4>We capture the Experience with friends and family, celebrating the far you have come</h4>
                        <div class="portfolio-links">
                          <a href="{% static 'assets/img/portfolio/portfolio-6.webp' %}" class="glightbox" title="Digital Experience"><i class="bi bi-plus-lg"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!-- End Portfolio Item -->

              </div><!-- End Portfolio Container -->
            </div>
          </div>

        </div>

      </div>

    </section><!-- /Portfolio Section -->

    

    <!-- Testimonials Section -->
    <section id="testimonials" class="testimonials section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Testimonials</h2>
        <p>Hear from our happy clients</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="testimonial-masonry">

          <div class="testimonial-item" data-aos="fade-up">
            <div class="testimonial-content">
              <div class="quote-pattern">
                <i class="bi bi-quote"></i>
              </div>
              <p>Working with the photographers was an amazing experience. Every moment was captured so beautifully and naturally. The final photos exceeded my expectations and truly told my story. Highly recommended!.</p>
              <div class="client-info">
                <div class="client-image">
                  <img src="{% static 'assets/img/person/person-f-7.webp' %}" alt="Client">
                </div>
                <div class="client-details">
                  <h3>Emmanuel Mwanik</h3>
                  <span class="position">A friend of Undercore Mng Creatives </span>
                </div>
              </div>
            </div>
          </div>

          <div class="testimonial-item highlight" data-aos="fade-up" data-aos-delay="100">
            <div class="testimonial-content">
              <div class="quote-pattern">
                <i class="bi bi-quote"></i>
              </div>
              <p>Professional, creative, and very easy to work with. The final images were stunning and delivered right on time.</p>
              <div class="client-info">
                <div class="client-image">
                  <img src="{% static 'assets/img/person/person-m-7.webp' %}" alt="Client">
                </div>
                <div class="client-details">
                  <h3>George Watetu</h3>
                  <span class="position">The Manager, Ridor</span>
                </div>
              </div>
            </div>
          </div>

          <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200">
            <div class="testimonial-content">
              <div class="quote-pattern">
                <i class="bi bi-quote"></i>
              </div>
              <p>"You have a true talent for storytelling through photography. Every picture felt alive and full of emotion."</p>
              <div class="client-info">
                <div class="client-image">
                  <img src="{% static 'assets/img/person/person-f-8.webp' %}" alt="Client">
                </div>
                <div class="client-details">
                  <h3>Vee Wanjiru</h3>
                  <span class="position">The CEO, Vee Consultancy</span>
                </div>
              </div>
            </div>
          </div>

          <div class="testimonial-item" data-aos="fade-up" data-aos-delay="300">
            <div class="testimonial-content">
              <div class="quote-pattern">
                <i class="bi bi-quote"></i>
              </div>
              <p>"The attention to detail was incredible. You captured moments we didn’t even realize were happening."</p>
              <div class="client-info">
                <div class="client-image">
                  <img src="{% static 'assets/img/person/person-m-8.webp' %}" alt="Client">
                </div>
                <div class="client-details">
                  <h3>Benjamin</h3>
                  <span class="position">The CEO, Mwewe Enterprises</span>
                </div>
              </div>
            </div>
          </div>

          <div class="testimonial-item highlight" data-aos="fade-up" data-aos-delay="400">
            <div class="testimonial-content">
              <div class="quote-pattern">
                <i class="bi bi-quote"></i>
              </div>
              <p>"I loved how comfortable you made us feel during the shoot. It really shows in the natural and beautiful photos we received."</p>
              <div class="client-info">
                <div class="client-image">
                  <img src="{% static 'assets/img/person/person-f-9.webp' %}" alt="Client">
                </div>
                <div class="client-details">
                  <h3>Gladys Jepps</h3>
                  <span class="position">The Bible Study Director, Quiet Time</span>
                </div>
              </div>
            </div>
          </div>

          <div class="testimonial-item" data-aos="fade-up" data-aos-delay="500">
            <div class="testimonial-content">
              <div class="quote-pattern">
                <i class="bi bi-quote"></i>
              </div>
              <p>"Absolutely outstanding work! The quality, creativity, and professionalism exceeded all expectations."</p>
              <div class="client-info">
                <div class="client-image">
                  <img src="{% static 'assets/img/person/person-m-13.webp' %}" alt="Client">
                </div>
                <div class="client-details">
                  <h3>Sandra Waithera</h3>
                  <span class="position">The Marketing Manager, Blessed Cosmetics</span>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

    </section><!-- /Testimonials Section -->

    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p>Let's engage...</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row g-4 g-lg-5">
          <div class="col-lg-5">
            <div class="info-box">
              <h3>Contact Info</h3>
              <p>We are a throw stone away from you!, talk to us anytime, any day and we shall respond promptly.</p>

              <div class="info-item">
                <div class="icon-box">
                  <i class="bi bi-geo-alt"></i>
                </div>
                <div class="content">
                  <h4>Our Location</h4>
                  <p>City Park, Crescent 66</p>
                  <p>Nairobi, Kenya</p>
                </div>
              </div>

              <div class="info-item">
                <div class="icon-box">
                  <i class="bi bi-telephone"></i>
                </div>
                <div class="content">
                  <h4>Phone Number</h4>
                  <p>+254726 709 449</p>
                  
                </div>
              </div>

              <div class="info-item">
                <div class="icon-box">
                  <i class="bi bi-envelope"></i>
                </div>
                <div class="content">
                  <h4>Email Address</h4>
                  <p>Underscorephotos@gmail.com</p>
                  <p><enquiries class="mngcreatives"></enquiries></p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-7">
            <div class="contact-form">
              <h3>Get In Touch</h3>
              <p>Have questions or want to book a session? Fill out the form below and we'll get back to you as soon as possible.</p>

              <form action="forms/contact.php" method="post" class="php-email-form">
                <div class="row gy-4">

                  <div class="col-md-6">
                    <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
                  </div>

                  <div class="col-md-6 ">
                    <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
                  </div>

                  <div class="col-12">
                    <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
                  </div>

                  <div class="col-12">
                    <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
                  </div>

                  <div class="col-12 text-center">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Your message has been sent. Thank you!</div>

                    <button type="submit" class="btn">Send Message</button>
                  </div>

                </div>
              </form>

            </div>
          </div>

        </div>

      </div>

    </section><!-- /Contact Section -->
  </main>


{% endblock %}