{% extends 'starter-page.html' %}
{% load static %}

{% block body %}

<main class="main">
  

     <!-- Portfolio Section -->
    <section id="portfolio" class="portfolio section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Portfolio</h2>
        <p>At Underscore MNgCreatives, photography is more than just taking pictures — it is about creating stories, preserving emotions, and turning fleeting moments into timeless memories. With a passion for creativity and an eye for detail, we specialize in delivering high-quality visual experiences that speak louder than words..</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

          <div class="row">
            <div class="col-lg-3 filter-sidebar">
              <div class="filters-wrapper" data-aos="fade-right" data-aos-delay="150">
                <ul class="portfolio-filters isotope-filters">
                  <li data-filter="*" class="filter-active">All Projects</li>
                  <li data-filter=".filter-weddings">weddings</li>
                  <li data-filter=".filter-graduation_parties">Graduation Parties</li>
                  <li data-filter=".filter-corperate">Corperate Events</li>
                  <li data-filter=".filter-portrait_fashion">Portrait and fashion</li>
                  <li data-filter=".filter-real_estate">Real Estate</li>
                  <li data-filter=".filter-Birthday_Parties">Birthday Parties</li>
                </ul>
              </div>
            </div>

            <div class="col-lg-9">
              <div class="row gy-4 portfolio-container isotope-container" data-aos="fade-up" data-aos-delay="200">

                <div class="col-lg-6 col-md-6 portfolio-item isotope-item filter-graduation_parties">
                  <div class="portfolio-wrap">
                    <img src="{% static 'assets/img/graduation4.webp' %}" class="img-fluid" alt="Portfolio Image" loading="lazy">
                    <div class="portfolio-info">
                      <div class="content">
                        <span class="category">Graduation Parties</span>
                        <h4>Turn hard work into unforgettable memories and celebrate your new beginnings.</h4>
                        <div class="portfolio-links">
                          <a href="{% static 'assets/img/graduation4.webp' %}" class="glightbox" title="Capturing Moments"><i class="bi bi-plus-lg"></i></a>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!-- End Portfolio Item(Graduation Parties) -->

                
                <div class="col-lg-6 col-md-6 portfolio-item isotope-item filter-weddings">
                  <div class="portfolio-wrap">
                    <img src="{% static 'assets/img/wedding1.webp' %}" class="img-fluid" alt="Portfolio Image" loading="lazy">
                    <div class="portfolio-info">
                      <div class="content">
                        <span class="category">weddings</span>
                        <h4>The beauty of your love story through elegant and timeless imagery.</h4>
                        <div class="portfolio-links">
                          <a href="{% static 'assets/img/wedding1.webp' %}" class="glightbox" title="Capturing Moments"><i class="bi bi-plus-lg"></i></a>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!-- End Portfolio Item(weddings) -->


                <div class="col-lg-6 col-md-6 portfolio-item isotope-item filter-corperate">
                  <div class="portfolio-wrap">
                    <img src="{% static 'assets/img/corperate1.webp' %}" class="img-fluid" alt="Portfolio Image" loading="lazy">
                    <div class="portfolio-info">
                      <div class="content">
                        <span class="category">Corperate Events</span>
                        <h4>Classic Beauty</h4>
                        <div class="portfolio-links">
                          <a href="{% static 'assets/img/corperate1.webp' %}" class="glightbox" title="Classic Beauty"><i class="bi bi-plus-lg"></i></a>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!-- End Portfolio Item(Corporate Events) -->

                <div class="col-lg-6 col-md-6 portfolio-item isotope-item filter-portrait_fashion">

                  <div class="portfolio-wrap">
                    <img src="{% static 'assets/img/portrait1.webp' %}" class="img-fluid" alt="Portfolio Image" loading="lazy">
                    <div class="portfolio-info">
                      <div class="content">
                        <span class="category">Portrait and fashion</span>
                        <h4>Natural Growth</h4>
                        <div class="portfolio-links">
                          <a href="{% static 'assets/img/portrait1.webp' %}" class="glightbox" title="Natural Growth"><i class="bi bi-plus-lg"></i></a>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!-- End Portfolio Item(Portrait and fashion) -->

                <div class="col-lg-6 col-md-6 portfolio-item isotope-item filter-real_estate">
                  <div class="portfolio-wrap">
                    <img src="{% static 'assets/img/realestate1.webp' %}" class="img-fluid" alt="Portfolio Image" loading="lazy">
                    <div class="portfolio-info">
                      <div class="content">
                        <span class="category">Real Estate</span>
                        <h4>Urban Stories</h4>
                        <div class="portfolio-links">
                          <a href="{% static 'assets/img/realestate1.webp' %}" class="glightbox" title="Urban Stories"><i class="bi bi-plus-lg"></i></a>
                        
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!-- End Portfolio Item -->

                <div class="col-lg-6 col-md-6 portfolio-item isotope-item filter-Birthday_Parties">
                  <div class="portfolio-wrap">
                    <img src="{% static 'assets/img/birthday1.webp' %}" class="img-fluid" alt="Portfolio Image" loading="lazy">
                    <div class="portfolio-info">
                      <div class="content">
                        <span class="category">Birthday Parties</span>
                        <h4>We capture the Experience with friends and family, celebrating the far you have come</h4>
                        <div class="portfolio-links">
                          <a href="{% static 'assets/img/birthday1.webp' %}" class="glightbox" title="Digital Experience"><i class="bi bi-plus-lg"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!-- End Portfolio Item -->

              </div><!-- End Portfolio Container -->
            </div>
          </div>

        </div>

      </div>

    </section><!-- /Portfolio Section -->

  </main><!-- End #main -->

{% endblock %}