{% extends 'starter-page.html' %}
{% load static %}

{% block body %}

<main class="main">

   <!-- Services Section -->
    <section id="services" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Services</h2>
        <p>We are there for you whenever you need us, every moment counts!</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="service-header">
          <div class="row align-items-center">
            <div class="col-lg-8 col-md-12">
              <div class="service-intro">
                <h2 class="service-heading">
                  <div>creativity,</div><span>precision and passion</span></div>
                  <div><span></span></div>
                </h2>
              </div>
            </div>
            <div class="col-lg-4 col-md-12">
              <div class="service-summary">
                <p>
                  Whether it’s a once-in-a-lifetime celebration or a professional shoot, we turn your memories into timeless visuals.
                </p>
                  <a href="{% static 'services.html' %}" class="service-btn">
                  View All Services
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-card position-relative z-1">
              <div class="service-icon">
                <i class="bi bi-palette"></i>
              </div>
              <a href="{% static 'service-details.html' %}" class="card-action d-flex align-items-center justify-content-center rounded-circle">
                <i class="bi bi-arrow-up-right"></i>
              </a>
              <h3>
                <a href="{% static 'service-details.html' %}">
                  Wedding <span>Photography</span>
                </a>
              </h3>
              <p>
                Your wedding day is one of the most important days of your life, and we are here to preserve every beautiful moment. From the emotional exchange of vows to the joyful celebrations, we capture authentic, heartfelt memories that tell your unique love story.

              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-card position-relative z-1">
              <div class="service-icon">
                <i class="bi bi-gem"></i>
              </div>
              <a href="{% static 'service-details.html' %}" class="card-action d-flex align-items-center justify-content-center rounded-circle">
                <i class="bi bi-arrow-up-right"></i>
              </a>
              <h3>
                <a href="{% static 'service-details.html' %}">
                  Graduation <span>Parties</span>
                </a>
              </h3>
              <p>
                Graduation marks a major achievement and the beginning of a new chapter. We help you celebrate this milestone with vibrant and stylish photos that reflect your personality and success. Celebrate your hard work with photos worth remembering.
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-card position-relative z-1">
              <div class="service-icon">
                <i class="bi bi-megaphone"></i>
              </div>
              <a href="{% static 'service-details.html' %}" class="card-action d-flex align-items-center justify-content-center rounded-circle">
                <i class="bi bi-arrow-up-right"></i>
              </a>
              <h3>
                <a href="{% static 'service-details.html' %}">
                  Portrait <span>and Studio</span>
                </a>
              </h3>
              <p>
                Whether for personal branding, social media, or keepsakes, our sessions are designed to bring out your best. We create a relaxed environment to capture natural, confident, and expressive images.
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-card position-relative z-1">
              <div class="service-icon">
                <i class="bi bi-code-slash"></i>
              </div>
              <a href="{% static 'service-details.html' %}" class="card-action d-flex align-items-center justify-content-center rounded-circle">
                <i class="bi bi-arrow-up-right"></i>
              </a>
              <h3>
                <a href="{% static 'service-details.html' %}">
                  Commercial <span>and Corperate</span>
                </a>
              </h3>
              <p>
                We provide high-quality images that help businesses stand out and attract customers. From product photography to corporate branding, we deliver visuals that communicate professionalism and value.
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-card position-relative z-1">
              <div class="service-icon">
                <i class="bi bi-graph-up"></i>
              </div>
              <a href="{% static 'service-details.html' %}" class="card-action d-flex align-items-center justify-content-center rounded-circle">
                <i class="bi bi-arrow-up-right"></i>
              </a>
              <h3>
                <a href="{% static 'service-details.html' %}">
                  Birthday <span>Parties</span>
                </a>
              </h3>
              <p>
                Preserve the fun and excitent of your special day. We capture every smile, surprise, and special detail so you can focus on enjoying your day.
              </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-card position-relative z-1">
              <div class="service-icon">
                <i class="bi bi-camera-video"></i>
              </div>
              <a href="{% static 'service-details.html' %}" class="card-action d-flex align-items-center justify-content-center rounded-circle">
                <i class="bi bi-arrow-up-right"></i>
              </a>
              <h3>
                <a href="{% static 'service-details.html' %}">
                  Real <span>Estate</span>
                </a>
              </h3>
              <p>
                We provide sharp, well-lit, and professionally composed photos that showcase properties in the best possible way.
              </p>
            </div>
          </div>
        </div>

      </div>

    </section>
    <!-- /Services Section -->

    <!-- Service Details Section -->
    <!-- <section id="service-details" class="service-details section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row justify-content-between">

          <div class="col-lg-8" data-aos="fade-right" data-aos-delay="200">
            <div class="service-details-content">
              <h2>Service Title</h2>
              <p class="description">Service description goes here...</p>

              <div class="service-gallery">
                <img src="{% static 'assets/img/service/service-1.webp' %}" alt="Service Image" class="img-fluid">
                <img src="{% static 'assets/img/service/service-2.webp' %}" alt="Service Image" class="img-fluid">
                <img src="{% static 'assets/img/service/service-3.webp' %}" alt="Service Image" class="img-fluid">
              </div>
            </div>
          </div>

          <div class="col-lg-4" data-aos="fade-left" data-aos-delay="300">
            <div class="service-info">
              <h3>Service Information</h3>
              <ul>
                <li><strong>Duration</strong>: 2-3 weeks</li>
                <li><strong>Price</strong>: $5,000 - $10,000</li>
                <li><strong>Availability</strong>: Available Now</li>
              </ul>
            </div>
          </div>

          <div class="col-lg-12" data-aos="fade-up" data-aos-delay="400">
            <div class="service-description">
              <h3>Talk to us...</h3>
              <p>Book now on whatsapp</p>
              <div> </a> <button style="color: rgb(246, 247, 246); background-color: rgb(55, 255, 0); border-radius: 10px;;"><a href="https://wa.me/+254726709449" target="_blank" style="color: rgb(7, 26, 236);"><b>Book on WhatsApp</b></a></button></div>
            </div>

        </div>

      </div>

    </section> -->
    <!-- /Service Details Section

  </main><!-- End #main -->

{% endblock %}